# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Excel temporary files
~$*.xlsx
~$*.xls

# Power BI temporary/backup files
*.pbi
